.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-top: 40px;
}

.pagination-button {
    width: 102px;
    height: 34px;
    background-color: #E5E5E5;
    color: #333333;
    font-family: 'Roboto-SemiBold', sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
}
