.coordinate-modal {
    position: absolute;
    top: 50px;
    width: 270px;
    max-height: 290px;
    background-color: #F8F9FA;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.coordinate-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #333333;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
}

.coordinate-modal-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coordinate-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    background-color: #EFEFF4;
}

.submit-button {
    width: 100%;
    padding: 8px;
    background-color: #4CAF50;
    color: #E1E6EA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
