.main-button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #EFEFF4;
    gap: 10px;
    margin: 30px 40px;
    z-index: 500;
}
