/* App.css */
.App {
  text-align: center;
}

nav a {
  color: #2C3E50; /* Темно-синий цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: bold; /* Делаем текст жирным */
  margin: 0 15px; /* Отступы между ссылками */
  transition: color 0.3s ease, transform 0.3s ease; /* Плавная анимация цвета и перемещения */
}

nav a:hover {
  color: #E67E22; /* Цвет при наведении (акцентный) */
  transform: translateY(-3px); /* Легкий сдвиг вверх при наведении */
}

nav a:active {
  transform: scale(0.95); /* Эффект нажатия */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
