.header {
    background-color: #2A4A75;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 60px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-title {
    color: #E1E6EA;
    font-size: 20px;
    font-family: 'Roboto-Bold', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 45px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.header-icon:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.icon-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    top: 110%; /* Позиционирование ниже иконки */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: opacity 0.2s ease, visibility 0s;
    visibility: hidden;
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s; /* Показываем сразу */
}
