.city-table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.city-table-container {
    width: 1260px;
}

.city-table-header, .city-table-row {
    display: grid;
    grid-template-columns: 77px 125px 81px 80px 90px 150px 60px 39px 110px 140px 88px 136px auto;
    height: 50px;
    align-items: center;
    padding: 0 8px;
}

.city-table-header {
    background-color: #D1D3DA;
    color: #2A2A2A;
    font-weight: 600;
    text-align: center;
}

.city-table-row.even {
    background-color: #EFEFF4;
}

.city-table-row.odd {
    background-color: #F5F5F7;
}

.city-table-row div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333333;
}

.governor-link {
    color: #1A73E8;
    text-decoration: underline;
    cursor: pointer;
}

.action-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 1163px;
}

.pagination-controls button {
    width: 102px;
    height: 34px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

.history-container {
    margin: 20px auto;
    width: 100%;
    max-width: 1260px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

/* Стили для таблицы истории */
.history-container table {
    width: 100%;
    border-collapse: collapse;
}

.history-container th, .history-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.history-container th {
    background-color: #D1D3DA;
    font-weight: 600;
}

.history-container tr:nth-child(even) {
    background-color: #EFEFF4;
}

.history-container tr:nth-child(odd) {
    background-color: #F5F5F7;
}

.history-container tr:hover {
    background-color: #e0e0e0;
}

.history-container .error {
    color: #ff4c4c;
    text-align: center;
    margin: 10px 0;
}